.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project img {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.project section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project button {
  background-color: #500000;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: bold;
}
